.GridConteneur
{
	margin:0;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 5em auto;
	grid-template-areas:
		"header header"
        "top top"
        "hebergement popular"
        "activité activité"
}

.Header
{
    grid-area: header;
    margin-left: 1cm;
    display: flex;
    justify-content: space-between;
}

.Log
{
    height: 50px;
}

.Menu
{
    border: 1px solid black;
    text-align: right;
    max-width: 29%;
    float: right;

}

.Menu1
{
    border-top: 3px solid #0065fc;
}

.Menu2
{

}

.Menu3
{

}

.Top
{
    grid-area: top;
    border: 1px solid black;
}

.Hebergement
{
    grid-area: hebergement;
    background-color: #f2f2f2;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 50px;
}

.Hebergement2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Popular
{
    grid-area: popular;
    background-color: #f2f2f2;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 20px;
}

.Activité
{
    grid-area: activité;
    border: 1px solid black;
}

.h
{
    width: 250px;
    height: 200px;
    object-fit: cover; 
    border: 6px white solid;
    border-radius: 30px;
    box-shadow: 60px 60px 100px black inset;
}

.p
{
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    box-shadow: 60px 60px 100px black inset;
}

h1
{

}