
/* Mise en place police général*/
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype'),
         url('Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Mise en page général*/
.grid-conteneur
{
	margin:0;
	display: grid;
	grid-template-columns: 66% 34%;
	grid-template-rows: 9em auto auto auto 18em;
	grid-template-areas:
		"header header"
        "top top"
        "hebergement popular"
        "activité activité"
        "footer footer"
}

/* Zone Header*/
.header
{
    grid-area: header;
    margin-left: 70px;
    margin-right: 65px;
    display: flex;
    justify-content: space-between;
}

.log
{
    justify-self: stretch;
    max-width: 33%;
    margin: auto;
}

.log2
{
    margin-top: 3.6em;
    margin-bottom: auto;
}
 
.menu
{
    text-align: right;
    width: 32.5%;
    float: right;
    height: 9em; 
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

.menu1
{
    border-top: 2px solid #0065fc;
    padding-top: 2em;
    width: 37.2%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    color: #0065FC;
}

.menu2
{
    border-top: 2px solid white;
    padding-top: 2em;
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    color: black;
}

.menu3
{
    border-top: 2px solid white;
    padding-top: 2em;
    width: 30%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3em;
    color: #0065FC;
}

/* Zone suppérieur*/
.top
{
    grid-area: top;
    margin-left: 65px;
    margin-right: 65px;
}

.h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.h1-text
{
    margin-top: 0.4em;
}

.map-marquer
{
    font-size: 1.4em;
    padding: 0.8em 1em;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    margin-right: -4px;
}

.recherche
{
    margin-top: 1.5em;
}

.filtres
{
    font-size: 1.3em;
    margin-top: 1.9em;
    display: flex;
    align-items: center;
}

.filtre-text
{
    font-weight: bold;
}

.filtre-box
{
    border: 0px;
    border-radius: 80px 80px 80px 80px;
    margin: 0.8em;
    padding: 0em;
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: 5em;
        grid-template-areas: 
        "zone-1 zone-2"
}

.filtre-icone
{
    color:  #0065FC;
    background-color:  #DEEBFF;
    border: 6px solid  #DEEBFF;
    border-radius: 100%;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    text-align: center;
}

.centrage-icone
{
    font-size: 2em;
    text-align: center;
    padding: 0.4em;
}

.filtre-text2
{
    font-size: 1.3em;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    border: 3px solid #E4E4E4;
    border-radius: 80px 80px 80px 80px;
    background-color: white;
    display: flex; 
    padding-left: 5em;
}

.filtre-text3
{
    margin-top: 1.2em;
    margin-right: 2em;
    font-weight: bold;  
}

.info
{
    display: flex;
    flex-shrink: 0;
    margin-top: 1.3em;
    margin-left: 0.5em;
    margin-bottom: 2em;
    align-items: center;
}

.fa-info
{
    color: #0065fc;
    width: 0.9em;
    flex-shrink: 0;
    
}

.fa-info2
{
    border: 1px solid #E4E4E4;
    border-radius: 100%;
    width: 0.9em;
    height: 0.9em;
    padding: 0.5em;
    text-align: center;
    flex-shrink: 0;    
}

.text-info
{
    max-width: 90%;
    margin-left: 1em;
    font-size: 1.25em;
}

/* Zone hebergement*/
.hebergement
{
    grid-area: hebergement;
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin-left: 4em;
    margin-right: 1.8em;
    padding: 2.4em 3.5em 0em 3.5em;
}

.titre-hebergement
{
    margin-bottom: 1.9em;
}

.hebergement2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

.lien-h
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid white;
    border-radius: 1.5em;
    text-decoration: none;
}

.h
{
    width: 19.5em;
    height: 9.2em;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 1.5em 1.5em 0em 0em;
    
}

.paragaph-h
{
    margin: 0.5em 1em 0.5em 1em;
    color: black;
    line-height: 1.8em;    
}

.alligne-afficher
{
    display: flex;
    align-items: center;
}

.afficher-plus
{
    font-weight: bold;
    font-size: 1.4em;
}             


/* Zone Populaire*/
.popular
{
    grid-area: popular;
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin-right: 4em;
    margin-left: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4em 0em 0em 0em;

}

.popular-text
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 27em; 
    margin-bottom: 0.5em;
    width: 29em; 
}

.fa-chart-line
{
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 1em;
}

.popular2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lien-p
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 3px solid white;
    border-radius: 1.5em;
    text-decoration: none;
    width: 28.8em;
    margin-bottom: 2.5em;
}

.p
{
    width: 10.6em; 
    height: 11.4em; 
    object-fit: cover; 
    border: 3px solid white;
    box-shadow: 60px 60px 100px black inset;
    border-radius: 1.5em 0em 0em 1.5em;
    margin-bottom: auto;
}

.paragaph-p
{
    margin: 0;
    color: black;
    line-height: 2em;    
}

.div-text-p
{
    margin: 0.9em 4em 0em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Zonne commune a populaire et hébergement*/
.titre
{
    font-weight: bold;
    font-size: 1.6em;
}

.span-title
{
    font-weight: bold;
    font-size: 1.2em;
}

.span-price
{
    font-weight: bold;
}

.blue-star
{
    color:  #0065fc;
}

.grey-star
{
    color: #D9D9D9;
}

/* Zone activité*/
.activité
{
    grid-area: activité;
}

.activité2
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas:
        "a1 a2 a4 a5"
        "a1 a3 a4 a6";
    padding-bottom: 4.5em;
    width: 100%;
}

.a
{
    width: 25em;
    height: 35.8em;
    object-fit: cover; 
    border: 6px white solid;
    border-radius: 30px;
    margin-left: 60px;
}

.a2
{
    width: 25em;
    height: 20em;
    object-fit: cover; 
    border: 6px white solid;
    border-radius: 30px;
    margin-left: 60px;
}

.a3
{
    width: 25em;
    height: 15em;
    object-fit: cover; 
    border: 6px white solid;
    border-radius: 30px;
    margin-left: 60px;
}
.ia1
{
    grid-area: a1;
}

.ia2
{
    grid-area: a2;
}

.ia3
{
    grid-area: a3;
}

.ia4
{
    grid-area: a4;
}

.ia5
{
    grid-area: a5;
}

.ia6
{
    grid-area: a6;
}

.footer
{
    width: 28%;
    padding-left: 65px;
    padding-top: 2.5em;
    
}

.footerP
{
    font-size: large;
    text-decoration: none;
    color: black;
}

span, h1, p, h2
{
    font-family: 'Raleway';
}

input[type=text] {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #F2F2F2;
    font-size: 1.3em;
    padding: 0.8em 1em;
}

.bouton-recherche
{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0;
    font-size: 1.3em;
    color : white;
    border-left: 0px;
    padding: 0.8em 1em;
    border-radius: 0px 20px 20px 0px;
    margin-left: -4px;
}



footer
{
    grid-area: footer;
    display: flex;
    background-color: #f2f2f2;
}