.GridConteneur
{
	margin:0;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 5em auto;
	grid-template-areas:
		"header header"
        "top top"
        "hebergement popular"
        "activité activité"
}

.Header
{
    grid-area: header;
    font-size: 2em;
}

.Log
{
    border: 1px solid black;
    height: 50px;
    float: left;
    font-size: 2em;
    margin-left: 1cm;
}

.Menu
{
    border: 1px solid black;
    text-align: right;
    max-width: 29%;
    float: right;

}

.Top
{
    grid-area: top;
    border: 1px solid black;
}

.Hebergement
{
    grid-area: hebergement;
    border: 1px solid black;
}

.Popular
{
    grid-area: popular;
    border: 1px solid black;
}

.Activité
{
    grid-area: activité;
    border: 1px solid black;
}