
/* Mise en place police général*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Gestion de toute les polices*/
body
{
    margin:0;
    font-family: 'Raleway';
}

input, label, button, .top > h1, .top > .filtres, header, .span-title, .span-price, .afficher-plus, .titre
{
    font-weight: bold;
}

a
{
	text-decoration: none;
    color: black;
}

.top > .recherche
{
    margin-top: 1.5em;
}

/*A reprendre - Valable uniquement pour tel*/
.recherche > form > .map-marquer
{

    padding: 0.8em 1em;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    margin-right: -4px;
    height: calc(auto + 2px);
}

/*A reprendre - Valable uniquement pour tel*/
.recherche > form > input[type=text] 
{
    border: 1px solid #F2F2F2;
    padding: 0.8em 1em;
    height: auto;
}

.filtres > div > button, .filtres > div > div > button
{
    padding: 0;
    border: 2px solid #E4E4E4; 
    background-color: white;
    border-radius: 80px 80px 80px 80px;
    margin: 0px 1.5vw 10px 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtres > div, .filtres > div > div
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtres > div > button > .filtre-icone, .filtre-icone
{
    color:  #0065FC;
    background-color:  #DEEBFF;
    border-radius: 100%;
    margin-left: -2px;
}

.filtre-icone > div
{
    height: 100%;
    width: 100%;
    display: flex;
}

.filtre-icone > div > i
{
    margin: auto;
}

.blue-star
{
    color:  #0065fc;
}

.grey-star
{
       color: #D9D9D9;
}

.ia1, .ia2, .ia3, .ia4, .ia5, .ia6
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.activite > .activite2 > .ia1
{
    background-image: url(images/activites/a1.jpg);
}

.activite > .activite2 > .ia2
{
    background-image: url(images/activites/a2.jpg);
}

.activite > .activite2 > div > .ia3
{
    background-image: url(images/activites/a3.jpg);
}

.activite > .activite2 > .ia4
{
    background-image: url(images/activites/a4.jpg);
}

.activite > .activite2 > .ia5
{
    background-image: url(images/activites/a5.jpg);
}

.activite > .activite2 > .ia6
{
    background-image: url(images/activites/a6.jpg);
}



@media screen and (min-width: 992px)
{
    /* Mise en page général*/
    

    /* Zone Header*/
    header
    {
        margin-left: 3.5vw;
        margin-right: 3.5vw;
        display: flex;
        justify-content: space-between;
        font-size:calc(7px + 1.2vw);
    }

    header > .log2
    {
        margin-top: 3.6em;
    }

    header > .log2 > a > img
    {
        width: 33%;
    }

    header > .menu
    {
        text-align: right;
        width: 32.5%;
        float: right;
        height: 9em; 
        min-width: 400px;
        display: flex;
        justify-content: space-between;
    }

    .h-a-tel
    {
        display: none;
    }

    .menu > .selected
    {
        border-top: 2px solid #0065fc;
        color: #0065FC;
    }

    .menu > .no-selected
    {
        border-top: 2px solid white;
    }


    .menu > .input-menu-large
    {
        width: 37.2%;
    }

    .menu > .input-menu
    {
        padding-top: 2em;
        width: 30%;
    }

    .menu > .s-inscrire
    {
        font-weight: bold;
        color: #0065FC;
    }

    .menu > div
    {
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }

    /* Zone suppérieur*/
    .top
    {
        margin-left: 3.5vw;
        margin-right: 3.5vw;
    }

    .top > h1
    {
        margin-bottom: 0.4em;
        font-size:calc(8px + 1.4vw);
    }

    .top > p
    {
        margin-top: 0.4em;
        font-size:calc(6px + 1vw);
    }

        .top > .info > p
    {
        font-size:calc(6px + 1.3vw);
    }


    /*Zone a modifier ???*/
    .recherche > form > .map-marquer
    {
        font-size:calc(6px + 1.2vw);
        padding: 0.8em 1em;
        background-color: #F2F2F2;
        border-radius: 20px 0px 0px 20px;
        margin-right: -4px;
        height: calc(auto + 2px);
    }
    
    .recherche > form > input[type=text] 
    {
        font-size:calc(6px + 1.2vw);
        font-weight: bold;
        border: 1px solid #F2F2F2;
        padding: 0.8em 1em;
        height: auto;
    }
    
    .recherche > form > .bouton-recherche
    {
        font-size:calc(6px + 1.2vw);
        background-color: #0065FC;
        border-radius: 0;
        color : white;
        border: 0px;
        padding: 0.8em 1em;
        border-radius: 0px 20px 20px 0px;
        margin-left: -4px;
        height:calc(auto + 120px);
    }

    .recherche > form > .bouton-recherche-phone
    {
        display:none;
    }

    .top > .filtres
    {

        margin-top: 1.9em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .filtres > div > div > button, .filtres > div > button
    {
        height: calc(13px + 2.8vw);
    }

    .filtres > div > button > .filtre-icone, .filtre-icone
    {
        height: calc(13px + 2.8vw);
        width: calc(13px + 2.8vw);
    }

    .filtre-text > p, .filtres > p
    {
        font-size:calc(7px + 1.2vw);
        font-weight: bold;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .filtre-icone > div
    {
        font-size:calc(6px + 1.5vw);
    }

    /*filtre bouton*/
    .top > .info
    {
        display: flex;
        flex-shrink: 0;
        margin-top: 1.3em;
        margin-left: 0.5em;
        margin-bottom: 2em;
        align-items: center;
    }

    .top > .info > div
    {
        border: 1px solid #E4E4E4;
        border-radius: 100%;
        width: 1.9vw;
        height: 1.9vw;
        padding: 0.5em;
        text-align: center;
        flex-shrink: 0;    
        display: flex;
        justify-content: center;
    }

    .top > .info > div > .fa-info
    {
        color: #0065fc;
        font-size: 1.8vw;
        flex-shrink: 0;
        
    }

    .top > .info > p
    {
        max-width: 90%;
        margin-left: 1em;
    }

    body > .center
    {
        display: flex;
        flex-direction: row-reverse;
        
    }

    /* Aussi valable pour populaire*/
    .titre
    {
        font-size:calc(7px + 1.2vw);
    }

    /* Valable dans hebergement, et article*/
    .hebergement2 > article > a > p, .paragaph-a, .paragaph-a2, .paragaph-a3, .paragaph-a6, .paragaph-p
    {
        font-size:calc(8px + 0.6vw);
        line-height: 2.2vw;
    }

    /*Zone juste hebergement*/
    .hebergement
    {
        background-color: #f2f2f2;
        border-radius: 1.5em;
        margin-left: 3.5vw;
        margin-right: 1.25vw;
        padding: 2.4em 2vw 0em 2vw;
        flex-basis: 60.1vw;
    }

    .hebergement > .titre-hebergement
    {
        margin-bottom: 0.2em;
    }

    .hebergement > .hebergement2
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .hebergement2 > article
    {
        width: 31%;
        min-width: 193px;
        margin: 0em 0.5vw 2vw 0.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        border-radius: 1vw;
    }

    .hebergement2 > article > a
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 3px solid white;
        border-radius: 1vw;
    }

    .hebergement2 > article > a > img
    {
        height: 8vw;
        object-fit: cover;
        border: 3px solid white;
        border-radius: 1vw 1vw 0em 0em;
    }

    .hebergement2 > article > a > p
    {
        margin: 0.5em 1em 0.5em 1em;
    }

    .alligne-afficher
    {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    /* Zone Populaire*/
    .popular
    {
        background-color: #f2f2f2;
        border-radius: 1.5em;
        margin-right: 3.5vw;
        margin-left: 1.25em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.4em 0em 0em 0em;
        flex-basis: 30.3vw;
    }

    .popular > .popular-text
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5em;
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }

    .fa-chart-line
    {
        margin-top: 1em;
        font-weight: bold;
        font-size:calc(7px + 1.2vw);
    }

    .popular > .popular2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .popular > .popular2 > article
    {
        width: 81.88%;
        margin-bottom: 2vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        border-radius: 1vw;
        flex-basis: content;
    }

    .popular > .popular2 > article > a
    {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: white;
        border: 6px solid white;
        border-radius: 1vw;
    }

    .popular > .popular2 > article > a > img
    {
        width: 36.8%;
        object-fit: cover;
        border-radius: 1vw 0em 0em 1vw;
    }

    .popular > .popular2 > article > a > div
    {
        margin: 0.9em 9% 0em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popular > .popular2 > article > a > div > .paragaph-p
    {
        margin: 0; 
    }

    .popular > .popular2 > article > a > div > p
    {
        min-width: 90px;
    }

    .afficher-plus
    {
        font-weight: bold;
        font-size:calc(7px + 1.2vw);
    }    

    /* Zone activité*/
    .activite
    {
        padding: 4.1em 0em 0em 0em;
    }

    .activite > .activite-text
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5em;
        margin-left: 3.5%; 
    }

    .activite > .activite2
    {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 15.5vw 15.5vw;
        grid-template-areas:
            "a1 a2 a4 a5"
            "a1 a3 a4 a6";
        padding-bottom: 4.5em;
        width: 100%;
    }

    .activite > .activite2 > article > a, .activite > .activite2 > div > article > a
    {
        display: flex;
        flex-direction: column-reverse;
        align-content: stretch;
        height: 100%;
        width: 100%;
        border-radius: 1.9em;  
    }

    span.middle-a
    {
        position: absolute;
        top: 50%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
    }

    .activite > .activite2 > .ia1
    {
        grid-area: a1;
        height: 100%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 14%;
    }

    .activite > .activite2 > .ia2
    {
        grid-area: a2;
        height: 100%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 10%;
    }

    .activite > .activite2 > div
    {
        grid-area: a3;
        display: flex;
        flex-direction: column-reverse;
    }

    .activite > .activite2 > div> .ia3
    {
        height: 80%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 10%;
    }

    .activite > .activite2 > .ia4
    {
        grid-area: a4;
        height: 100%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf ;
        margin-left: 5.35%;
    }

    .activite > .activite2 > .ia5
    {
        grid-area: a5;
        height: 77%;
        width: 82.8%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 2.6%;
    }

    .activite > .activite2 > .ia6
    {
        grid-area: a6;
        height: 100%;
        width: 82.8%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 2.6%;
    }

    .paragaph-a
    {
        margin : 0em 0px -1px 0px;
        padding : 0em 0em 0em 1.5vw;
        background-color: white;
        height: 4vw;
        border-radius: 0vw 0vw 1.5vw 1.5vw;
        position: relative;
    }

    footer
    {
        grid-area: footer;
        display: flex;
        background-color: #f2f2f2;
    }

    footer > aside
    {
        width: 28%;
        padding: 3vw 0px 3vw 4vw;   
    }

    footer > aside > P
    {
        line-height: 2.4em ;
    }

    footer > aside > P > a
    {
        font-size: large;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px)
{

    header
    {
        margin-top: 6vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-size:calc(5px + 3vw);
    }

    header > .log2
    {
        width: 50%;
        margin-left: 5vw;
    }

    header > .log2 > a > img
    {
        width: 58%;
    }

    header > .menu > .s-inscrire
    {
        width: 25%;
        margin-right: 6vw;
        color: #0065FC;
    }

    header > .menu > .no-tel
    {
        display: none;
    }

    header > .h-a-tel
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2vw;
    }

    header > .h-a-tel > div
    {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    header > .h-a-tel > .selected
    {
        color: #0065FC;
        border-bottom: 4px solid #0065FC;
    }

    header > .h-a-tel > .no-selected
    {
        border-bottom: 4px solid #f2f2f2;
    }

    .top
    {
        margin:0vw 6vw 0vw 5vw;
    }

    .top > h1
    {
        font-size:calc(4px + 5vw);
    }

    button, label, input, .top > p, .info > p
    {
        font-size: calc(5px + 2.2vw);
    }

    .recherche
    {
        display: flex;
    }

    .recherche > form > .map-marquer
    {

    }

    .recherche > form > #recherche
    {
        width: calc(100% - 11vw - 5vw - 5em);
    }

    .recherche > form > .bouton-recherche
    {
        font-size:calc(6px + 1.2vw);
        background-color: #0065FC;
        border-radius: 0;
        color : white;
        border: 0px;
        padding: 0.8em 1em;
        border-radius: 0px 20px 20px 0px;
        margin-left: -4px;
        height:calc(auto + 120px);
    }

    .recherche > form > .bouton-recherche-phone
    {
        display: none;
    }

    button
    {
        margin-bottom: 1em;
    }

    .filtres > div > button > .filtre-text > p, .filtre-text > p
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    .filtres > div > button > .filtre-icone, .filtre-icone
    {
        height: calc(8px + 9vw);
        width: calc(8px + 9vw);
        font-size:calc(6px + 3vw);
    }

    .filtres > div > div > button, .filtres > div > button
    {
        height: calc(8px + 9vw);
    }

    .top > .info
    {
        display: flex;
        flex-shrink: 0;
        margin-top: 1.3em;
        margin-left: 0.5em;
        margin-bottom: 2em;
        align-items: center;
    }

    .top > .info > div
    {
        border: 1px solid #E4E4E4;
        border-radius: 100%;
        width: 1.9vw;
        height: 1.9vw;
        padding: 0.5em;
        text-align: center;
        flex-shrink: 0;    
        display: flex;
        justify-content: center;
    }

    .top > .info > div > .fa-info
    {
        color: #0065fc;
        font-size: 1.8vw;
        flex-shrink: 0;
        
    }

    .top > .info > p
    {
        max-width: 90%;
        margin-left: 1em;
    }


    body > .center
    {
        display: flex;
        flex-direction: column;
        
    }

    /* Aussi valable pour hebergement*/
    .titre
    {
        font-size:calc(7px + 1.2vw);
    }

    /* Zone Populaire*/
    .popular
    {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.4em 0em 0em 0em;
    }

    .popular > .popular-text
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5em;
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }

    .fa-chart-line
    {
        margin-top: 1em;
        font-weight: bold;
        font-size:calc(7px + 1.2vw);
    }

    .popular > .popular2
    {
        display: flex;
        padding: 0px 1vw 0vw 1vw;
    }

    .popular > .popular2 > article
    {
        margin-bottom: 2vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        border-radius: 1vw;
        flex-basis: content;
        margin: 0px 2vw 0px 2vw;

    }

    .popular > .popular2 > article > a
    {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: white;
        border: 6px solid white;
        border-radius: 1vw;
    }

    .popular > .popular2 > article > a > img
    {
        width: 36.8%;
        object-fit: cover;
        border-radius: 1vw 0em 0em 1vw;
    }

    .popular > .popular2 > article > a > div
    {
        margin: 0.9em 9% 0em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popular > .popular2 > article > a > div > .paragaph-p
    {
        margin: 0; 
    }

    .popular > .popular2 > article > a > div > p
    {
        min-width: 90px;
    }

    .afficher-plus
    {
        font-weight: bold;
        font-size:calc(7px + 1.2vw);
    }

    /* Valable dans hebergement, et article*/
    .hebergement2 > article > a > p, .paragaph-a, .paragaph-a2, .paragaph-a3, .paragaph-a6, .paragaph-p
    {
        font-size:calc(8px + 0.6vw);
        line-height: 2.2vw;
    }

    /*Zone juste hebergement*/
    .hebergement
    {
        background-color: #f2f2f2;
        border-radius: 1.5em;
        margin-left: 3.5vw;
        margin-right: 1.25vw;
        padding: 2.4em 2vw 0em 2vw;
        flex-basis: 60.1vw;
    }

    .hebergement > .titre-hebergement
    {
        margin-bottom: 0.2em;
    }

    .hebergement > .hebergement2
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .hebergement2 > article
    {
        width: 31%;
        min-width: 193px;
        margin: 0em 0.5vw 2vw 0.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        border-radius: 1vw;
    }

    .hebergement2 > article > a
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 3px solid white;
        border-radius: 1vw;
    }

    .hebergement2 > article > a > img
    {
        height: 8vw;
        object-fit: cover;
        border: 3px solid white;
        border-radius: 1vw 1vw 0em 0em;
    }

    .hebergement2 > article > a > p
    {
        margin: 0.5em 1em 0.5em 1em;
    }

    .alligne-afficher
    {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    /* Zone activité*/
    .activite
    {
        padding: 4.1em 0em 0em 0em;
    }

    .activite > .activite-text
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5em;
        margin-left: 3.5%; 
    }

    .activite > .activite2
    {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 15.5vw 15.5vw;
        grid-template-areas:
            "a1 a2 a4 a5"
            "a1 a3 a4 a6";
        padding-bottom: 4.5em;
        width: 100%;
    }

    .activite > .activite2 > article > a, .activite > .activite2 > div > article > a
    {
        display: flex;
        flex-direction: column-reverse;
        align-content: stretch;
        height: 100%;
        width: 100%;
        border-radius: 1.9em;  
    }

    span.middle-a
    {
        position: absolute;
        top: 50%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
    }

    .activite > .activite2 > .ia1
    {
        grid-area: a1;
        height: 100%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 14%;
    }

    .activite > .activite2 > .ia2
    {
        grid-area: a2;
        height: 100%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 10%;
    }

    .activite > .activite2 > div
    {
        grid-area: a3;
        display: flex;
        flex-direction: column-reverse;
    }

    .activite > .activite2 > div> .ia3
    {
        height: 80%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 10%;
    }

    .activite > .activite2 > .ia4
    {
        grid-area: a4;
        height: 100%;
        width: 83.5%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf ;
        margin-left: 5.35%;
    }

    .activite > .activite2 > .ia5
    {
        grid-area: a5;
        height: 77%;
        width: 82.8%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 2.6%;
    }

    .activite > .activite2 > .ia6
    {
        grid-area: a6;
        height: 100%;
        width: 82.8%;
        border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        margin-left: 2.6%;
    }

    .paragaph-a
    {
        margin : 0em 0px -1px 0px;
        padding : 0em 0em 0em 1.5vw;
        background-color: white;
        height: 4vw;
        border-radius: 0vw 0vw 1.5vw 1.5vw;
        position: relative;
    }

    footer
    {
        grid-area: footer;
        display: flex;
        background-color: #f2f2f2;
    }

    footer > aside
    {
        width: 28%;
        padding: 3vw 0px 3vw 4vw;   
    }

    footer > aside > P
    {
        line-height: 2.4em ;
    }

    footer > aside > P > a
    {
        font-size: large;
    }

}

@media screen and (max-width: 768px)
{

    header
    {
        margin-top: 6vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-size:calc(5px + 3vw);
    }

    header > .log2
    {
        width: 50%;
        margin-left: 5vw;
    }

    header > .log2 > a > img
    {
        width: 58%;
    }

    header > .menu > .s-inscrire
    {
        width: 25%;
        margin-right: 6vw;
        color: #0065FC;
    }

    header > .menu > .no-tel
    {
        display: none;
    }

    header > .h-a-tel
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2vw;
    }

    header > .h-a-tel > div
    {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    header > .h-a-tel > .selected
    {
        color: #0065FC;
        border-bottom: 4px solid #0065FC;
    }

    header > .h-a-tel > .no-selected
    {
        border-bottom: 4px solid #f2f2f2;
    }

    .top
    {
        margin:0vw 6vw 0vw 5vw;
    }

    .top > h1
    {
        font-size:calc(4px + 5vw);
    }

    button, label, input, .top > p, .info > p
    {
        font-size: calc(5px + 2.2vw);
    }

    .recherche
    {
        display: flex;
    }

    .recherche > form > .map-marquer
    {

    }

    .recherche > form > #recherche
    {
        width: calc(100% - 11vw - 5vw - 5em);
    }

    .recherche > form > .bouton-recherche-phone
    {
        border: 1px solid #0065FC;
        background-color: #0065FC;
        border-radius: 0;
        color : white;
        border-left: 0px;
        padding: 0.9em 1em;
        border-radius: 33%;
        margin-left: -14px;
        font-family: 'FontAwesome';
    }

    .recherche > form > .bouton-recherche
    {
        display: none;
    }

    button
    {
        margin-bottom: 1em;
    }

    .filtres > div > button > .filtre-text > p, .filtre-text > p
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    .filtres > div > button > .filtre-icone, .filtre-icone
    {
        height: calc(8px + 9vw);
        width: calc(8px + 9vw);
        font-size:calc(6px + 3vw);
    }

    .filtres > div > div > button, .filtres > div > button
    {
        height: calc(8px + 9vw);
    }

    

    .info
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .top > .info > div
    {
        border: 1px solid #E4E4E4;
        border-radius: 100%;
        width: calc(5px + 2.2vw);
        height: calc(5px + 2.2vw);
        padding: 0.5em;
        text-align: center;
        flex-shrink: 0;    
        display: flex;
        justify-content: center;
    }

    .top > .info > div > .fa-info
    {
        color: #0065fc;
        font-size: calc(5px + 2.2vw);
        flex-shrink: 0;
    }

    .info > p
    {
        margin-left: 1em;
    }

    /*A retirer du commun*/
    .titre
    {
        font-size:calc(7px + 2.2vw);
    }

    .fa-chart-line
    {
        font-size:calc(7px + 2.2vw);
    }

    .popular > .popular-text
    {
        /*pas changement*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        /*changement*/
        margin: 1em 5vw 0.5em 5vw;
        width: 90%;
    }

    /*Pas eu a changer*/
    .popular > .popular2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 4vw;
    }

    /*changement*/
    .popular > .popular2 > article
    {
        box-shadow: 1px 1px 1vw #bfbfbf;
        width: 90%;
        margin-bottom: 4vw;
        border-radius: 5vw;
        flex-basis: content;
    }

    .popular > .popular2 > article > a
    {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: white;
        border: 3px solid white;
        border-radius: 5vw;
    }

    .popular > .popular2 > article > a > img
    {
        width: 40%;
        object-fit: cover;
        border-radius: 5vw 0em 0em 5vw;
    }

    .popular > .popular2 > article > a > div
    {
        margin: 0.5em 5% 0em 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hebergement2 > article > a > p, .paragaph-a, .paragaph-a2, .paragaph-a3, .paragaph-a6, .paragaph-p, .blue-star, .grey-star
    {
        font-size:calc(5px + 2vw);
    }

    .span-title
    {
        font-size:calc(6px + 2vw);
    }

    .popular > .popular2 > article > a > div > .paragaph-p
    {
        margin: 0; 
    }

    .popular > .popular2 > article > a > div > .paragaph-star
    {
        margin: 10px 0px 5px 0px;
    }


    /*A lire*/

    /*Changement total*/
    .hebergement
    {
        width: 100%;
    }

    .hebergement > .titre-hebergement
    {
        margin: 1em 5vw 0.5em 5vw;
    }

    .hebergement > .hebergement2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .hebergement2 > article
    {
        width: 90%;
        margin: 0vw 5vw 4vw 5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
        border-radius: 5vw;
    }

    .hebergement2 > article > a
    {
        /*pas changement*/
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 3px solid white;
        /*changement*/
        border-radius: 5vw;
    }

    .hebergement2 > article > a > img
    {
        height: 30vw;
        object-fit: cover;
        border-radius: 5vw 5vw 0em 0em;
    }

    .hebergement2 > article > a > p
    {
        margin: 0.5em 1em 0.5em 1em;
        line-height: calc(5px + 2vw + 0.5em);
    }

    .alligne-afficher
    {
        margin-left: 5vw;
        display: flex;
        align-items: center;
        font-size: calc(7px + 2vw);
    }

    /*A lire*/

    .activite > .activite-text
    {
        margin: 1em 5vw 0.5em 5vw;
    }

    .activite > .activite2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.5em;
    }

    .activite > .activite2 > article > a, .activite > .activite2 > div > article > a
    {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        border-radius: 1.9em;  
    }

    span.middle-a
    {
        position: absolute;
        top: 50%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
    }

    .activite > .activite2 > article, .activite > .activite2 > div > article
    {
        margin: 0vw 5vw 4vw 5vw;
        height: 50vw;
        width: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5vw;
        box-shadow: 1px 1px 1vw #bfbfbf;
    }

    .activite > .activite2 > article > a > p, .activite > .activite2 > div > article > a > p
    {
        margin-bottom : -1px;
        background-color: white;
        height: 20%;
        border-radius: 0vw 0vw 5vw 5vw;
        position: relative;
        padding: 0.5em 1em 0.5em 1em;
    }

    .activite > .activite2 > div
    {
        height: 100%;
        width: 100%;
    }

    footer
    {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        padding: 0px 5vw 0px 5vw;
        margin-bottom: 0.5em;
    }

    footer > aside
    {
        padding-top: 2.5em;
    }

    footer > aside > P, footer > aside > h2
    {
        line-height: 2em ;
        font-size: calc(6px + 2.2vw);
    }   
}