/* Mise en place police général*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*  opti css, ajouté lien gitpage et repo en livrable, supprimer les fichier en trop repo git hub, et améliorer timing et contenu présentatation. Prendre un suppport de présentation ? Caier des charges + flex + grid +... - Un power point ET mieux connaitre git hub pas juste git*/  

/* Espace footer mobile + loupe a mettre dans un button */

/*Gestion taille police pc*/

/*taille 1 - Titre*/
h1, h2, .popular-text > i
{
    font-size: calc(8px + 1.3vw);
}

/*taille 2 - filtre éco marseil, recherche, Afficher plus...*/
.recherche > form > div, .recherche > form > input, .bouton-recherche, .bouton-recherche > i > .filtre, .afficher-plus
{
    font-size: calc(7px + 1.2vw);
}

/*taille 3 - nav, i, com...*/
nav, .top > p, .filtres, .filtre-text, .filtre-icone, .info, h3, article > p, article > div > p, footer > aside > p > a
{
    font-size: calc(5px + 1vw);
}

input, .top > .filtres > p, .span-title, .span-price, .afficher-plus
{
    font-weight: bold;
}

a
{
	text-decoration: none;
    color: black;
}

body
{
    margin:0;
    font-family: 'Raleway';
}

header
{
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

header > .menu
{
    display: flex;
    justify-content: space-between;
}

.log2
{
    margin-top: 2.4em;
    width: 75%;
}

.log2 > a > img
{
    width: 7vw;
}

.menu > .menu-duo
{
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.menu-duo > a > .selected, .selected
{
    border-top: 2px solid #0065fc;
    color: #0065FC;
}

.activite-menu
{
    margin-left: 2em;
}

.menu-duo > a > .no-selected, .no-selected
{
    border-top: 2px solid white;
}


.menu-duo > a > .input-menu-large, .input-menu-large
{
    padding-top: 2em;
    width: min-content;
}

.menu-duo > a > .input-menu, .input-menu
{
    padding-top: 2em;
}

.menu > .s-inscrire > a
{
    font-weight: bold;
    color: #0065FC;
}



/* Zone suppérieur*/
.top
{
    margin: 0vw 3.5vw 0vw 3.5vw;
}

.top > h1
{
    margin-bottom: 0.4em;
}

.top > p
{
    margin-top: 0.4em;

}

.top > .recherche
{
    margin-top: 1.5em;
}

.recherche > form
{
    display: flex;
}

.recherche > form > div
{
    padding: 0.8em 1em;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    margin-right: -4px;
}

.recherche > form > input[type=text] 
{
    border: 1px solid #F2F2F2;
    padding: 0.8em 1em;
}

.recherche > form > .bouton-recherche
{
    background-color: #0065FC;
    color : white;
    border: none;
    padding: 0.8em 1em;
    border-radius: 0px 20px 20px 0px;
}

.recherche > form > .bouton-recherche-global > .fa-search
{
    display: none;
}

.recherche > form > .bouton-recherche-global > .rechercherText
{
    margin: 0px;
}

.top > .filtres
{
    margin-top: 1.9em;
    display: flex;
    flex-wrap: wrap;
}

.filtres > div, .filtres > div > .contener-button
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.button
{
    display: flex;
    align-items: center;
    border: 2px solid #E4E4E4; 
    border-radius: 80px 80px 80px 80px;
    margin: 0px 1.5vw 10px 1.5vw;
    height: calc(10px + 2.8vw);
}

.filtres > div > .button > .filtre-icone, .filtre-icone
{
    height: calc(14px + 2.8vw);
    width: calc(14px + 2.8vw);
    margin-left: -3px;
    background-color: #DEEBFF;
    color:  #0065FC;
    border-radius: 100%;
    border: none;
}

.button > .filtre-text
{
    background-color: white;
    border: none;
}

.filtre-text, .filtres > p
{
    margin-left: 1vw;
    margin-right: 1vw;
}

.filtre-icone > div
{
    height: 100%;
    width: 100%;
    display: flex;
}

.filtre-icone > div > i
{
    margin: auto;
}

.button:hover, .button:hover > .filtre-text
{
    background-color: #0065fc;
    color: white;
}

.top > .info
{
    display: flex;
    margin-top: 1.3em;
    margin-left: 0.5em;
    margin-bottom: 2em;
    align-items: center;
}

.top > .info > div
{
    border: 1px solid #E4E4E4;
    border-radius: 100%;
    width: 1.4vw;
    height: 1.4vw;
    padding: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.top > .info > div > .fa-info
{
    color: #0065fc;
}

.top > .info > p
{
    margin-left: 1em;
}

body > .center
{
    display: flex;
    flex-direction: row-reverse;
    
}

/*Zone juste hebergement*/
.hebergement
{
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin-left: 3.5vw;
    margin-right: 1.25vw;
    padding: 2.4em 2vw 0em 2vw;
    flex-basis: 60.1vw;
}

.hebergement > .titre-hebergement
{
    margin-bottom: 0.2em;
}

.hebergement > .hebergement2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergement2 > a
{
    width: 31%;
    min-width: 193px;
    margin: 0em 0.5vw 2vw 0.5vw;
    box-shadow: 1px 1px 1vw #bfbfbf;
    border-radius: 1vw;
}

.hebergement2 > a > article
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1vw;
    height: 100%;
}

.hebergement2 > a > article > img
{
    height: 8vw;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 1vw 1vw 0em 0em;
}

.hebergement2 > a > article > h3
{
    margin: 0.5em 1em 0em 1em;
    line-height: 1.7vw;
}

.hebergement2 > a > article > p
{
    margin: 0em 1em 0.5em 1em;
    line-height: 1.7vw;
}

.blue-star
{
    color:  #0065fc;
}

.grey-star
{
   color: #D9D9D9;
}

.alligne-afficher
{
    display: flex;
    align-items: center;
}

/* Zone Populaire*/
.popular
{
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin-right: 3.5vw;
    margin-left: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4em 0em 0em 0em;
    flex-basis: 30.3vw;
}

.popular > .popular-text
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

.fa-chart-line
{
    margin-top: 1em;
}

.popular > .popular2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.popular > .popular2 > a
{
    width: 81.88%;
    margin-bottom: 2vw;
    box-shadow: 1px 1px 1vw #bfbfbf;
    border-radius: 1vw;
    height: 27%;
}

.popular > .popular2 > a > article
{
    height: 100%;
    background-color: white;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 36.8% auto;
    grid-template-rows: 33% 67%;
}

.popular > .popular2 > a > article > img
{
    object-fit: cover;
    border-radius: 1vw 0em 0em 1vw;
    border: 6px solid white;
    width: calc(100% - 6px);
    height: calc(100% - 12px);
    grid-column: 1;
    grid-row: 1 / 3;
}

.popular > .popular2 > a > article > .span-title
{
    grid-column: 2;
    grid-row: 1;
    margin: 0.9em 5% 0em 15px;
    height: min-content;
}

.popular > .popular2 > a > article > div
{
    margin: 1vw 5% 0em 15px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular > .popular2 > a > article > div > .paragaph-p
{
    margin: 0; 
}

.popular > .popular2 > a > article > div > p
{
    min-width: 90px;
}

/* Zone activité*/
.activite
{
    padding: 4.1em 0em 0em 0em;
}

.activite > .activite-text
{
    margin-bottom: 0.5em;
    margin-left: 3.5%; 
}

.activite > .activite2
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15.5vw 15.5vw;
    grid-template-areas:
        "a1 a2 a4 a5"
        "a1 a3 a4 a6";
    padding-bottom: 4.5em;
}

.activite > .activite2 > a > article, .activite > .activite2 > div > a > article
{
    display: flex;
    flex-direction: column-reverse;
    align-content: stretch;
    height: 100%;
    width: 100%;
    border-radius: 1.9em;  
}

span.middle-a
{
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
}

.activite > .activite2 > .ia1
{
    background-image: url(images/activites/a1.jpg);
}

.activite > .activite2 > .ia2
{
    background-image: url(images/activites/a2.jpg);
}

.activite > .activite2 > div > .ia3
{
    background-image: url(images/activites/a3.jpg);
}

.activite > .activite2 > .ia4
{
    background-image: url(images/activites/a4.jpg);
}

.activite > .activite2 > .ia5
{
    background-image: url(images/activites/a5.jpg);
}

.activite > .activite2 > .ia6
{
    background-image: url(images/activites/a6.jpg);
}

.ia1, .ia2, .ia3, .ia4, .ia5, .ia6
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
    box-shadow: 1px 1px 1vw #bfbfbf;
}

.ia1, .ia2, .ia3, .ia4
{
    width: 83.5%;
}

.ia5, .ia6
{
    width: 82.8%;
    margin-left: 2.6%;
}

.ia1
{
    grid-area: a1;
    margin-left: 14%;
}

.ia2
{
    grid-area: a2;
    margin-left: 10%;
}

.activite2 > div
{
    grid-area: a3;
    display: flex;
    flex-direction: column-reverse;
}

.ia3
{
    height: 80%;
    margin-left: 10%;
}

.ia4
{
    grid-area: a4;
    margin-left: 5.35%;
}

.ia5
{
    grid-area: a5;
    height: 77%;
}

.ia6
{
    grid-area: a6;
}

.paragaph-a
{
    margin : 0em 0px -1px 0px;
    padding : 0em 0em 0em 1.5vw;
    background-color: white;
    height: 4vw;
    border-radius: 0vw 0vw 1.5vw 1.5vw;
    position: relative;
}

footer
{
    grid-area: footer;
    display: flex;
    background-color: #f2f2f2;
}

footer > aside
{
    width: 28%;
    padding: 3vw 0px 3vw 4vw;   
}

footer > aside > P
{
    line-height: 2.4em ;
}

@media screen and (min-width: 769px) and (max-width: 1071px)
{

    /*taille 1 - Titre*/
    h1, h2, .popular-text > i
    {
        font-size: calc(6px + 2.1vw);
    }

    /*taille 2 - filtre éco marseil, recherche, Afficher plus...*/
    nav, .top > p, .filtres, .filtre-text, .filtre-icone, .info, h3, article > p, article > div > p, footer > aside > p > a
    {
        font-size: calc(5px + 1.7vw);
    }

    /*taille 3 - nav, i, com...*/
    nav, .top > p, .info, h3, article > p, article > div > p, footer > aside > p > a
    {
        font-size: calc(4px + 1.6vw);
    }

    header
    {
        margin: 0px;
    }

    header > .menu
    {
        flex-wrap: wrap;
    }

    header > .menu > .log2
    {
        width: 50%;
        margin-left: 5vw;
        order: 1;
    }

    header > .menu > .log2 > a > img
    {
        width: 40%;
    }

    header > .menu > .s-inscrire
    {
        width: 25%;
        margin-right: 6vw;
        order: 2;
    }

    header > .menu > .menu-duo
    {
        width: 100%;
        justify-content: space-around;
        margin: 2vw 0vw 0vw 0vw;
        order: 3;
    }

    header > .menu > .menu-duo > a
    {
        width: 50%;
    }

    header > .menu > .menu-duo > a > div
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0px;
    }

    header > .menu > .menu-duo > a > .selected
    {
        border-bottom: 4px solid #0065FC;
        border-top: none;
    }

    header > .menu > .menu-duo > a > .no-selected
    {
        border-bottom: 4px solid #f2f2f2;
        border-top: none;
    }

    .top
    {
        margin:0vw 6vw 0vw 5vw;
    }

    .top > h1
    {
        margin-top: 1.5em;
    }

    .top > .info > div
    {
        height: 2vw;
        width: 2vw;
    }

    .recherche
    {
        display: flex;
    }

    .recherche > form > #recherche
    {
        width: calc(100% - 11vw - 5vw - 5em);
    }

    .filtres > div > .button > .filtre-icone, .filtre-icone
    {
        height: calc(8px + 4.5vw);
        width: calc(8px + 4.5vw);
        margin-left: -2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .filtres > div > div > .button, .filtres > div > .button
    {
        height: calc(4px + 4.5vw);
        margin-bottom: 1em;
    }

    body > .center
    {
        flex-direction: column;
    }

    /* Zone Populaire*/

    .popular
    {
        margin: 0px;
        border-radius: 0px;
    }

    .popular > .popular2
    {
        display: flex;
        justify-content: space-around;
    }

    .popular > .popular2 > a
    {
        width: 90%;
        height: 22vw;
        margin-bottom: 3vw;
        border-radius: 1.9vw;
    }

    .popular > .popular2 > a > article
    {
        grid-template-rows: auto auto;
        border-radius: 1.9vw;
    }

    .popular > .popular2 > a > article > img
    {
        border: 4px solid white;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border-radius: 1.9vw 0em 0em 1.9vw;
    }

    /*Mettre max-heigt pour titre*/
    /*Mettre pading left titre*/

    .popular > .popular2 > a > article > .span-title
    {
        margin: 0.9em 5% 0em 10px;
    }

    /*Zone juste hebergement*/
    .hebergement
    {
        padding: 2.4em 10vw 0em 10vw;
        margin: 0px;
        background-color: white;
    }

    .hebergement > .titre-hebergement
    {
        margin-bottom: 0.5em;
        text-align: center;
    }

    .hebergement > .hebergement2
    {
        justify-content: space-between;
    }

    .hebergement2 > a
    {
        width: 38.5vw;
        margin: 0em 0vw 3vw 0vw;
        border-radius: 1.9vw;
    }

    .hebergement2 > a > article
    {
        border-radius: 1.9vw;
    }

    .hebergement2 > a > article > img
    {
        height: 18vw;
        border: 4px solid white;
        border-radius: 1.9vw 1.9vw 0em 0em;
    }

    .hebergement2 > a > article > h3, .hebergement2 > a > article > p
    {
        line-height: 2.2vw;
    }

    .activite
    {
        margin-top: 3em;
    }

    .activite > .activite2
    {
        grid-template-columns: 50% 50%;
        grid-template-rows: 15.5vw 18.5vw 15.5vw 15.5vw;
        grid-template-areas: "a1 a2" "a1 a3" "a5 a4" "a6 a4";
    }

    .ia1, .ia3
    {
        margin-bottom: 3vw;
    }

    .ia1, .ia2, .activite2 > div, .ia4, .ia5, .ia6
    {
        margin-left: 0px;
        margin-right: 0px;
        justify-self: center;
        width: 83.5%;
        border-radius: 1.9vw;
    }

    .activite2 > div > .ia3
    {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        height: 67%;
        border-radius: 1.9vw;
    }

    .ia5
    {
        height: 80%;
    }

    .paragaph-a
    {
        border-radius: 0vw 0vw 1.9vw 1.9vw;
    }
}

@media screen and (max-width: 768px)
{
    /*taille 1 - Titre*/
    h1, h2, .popular-text > i
    {
        font-size: calc(7px + 2.2vw);
    }

    /*taille 2 - filtre éco marseil, recherche, Afficher plus...*/
    .recherche > form > div, .recherche > form > input, .filtre, .afficher-plus
    {
        font-size: calc(6px + 2vw);
    }

    /*taille 3 - nav, i, com...*/
    nav, .top > p, .filtres, .filtre-text, .filtre-icone, .info, h3, article > p, article > div > p, footer > aside > p > a
    {
        font-size: calc(6px + 1.6vw);
    }

    header
    {
        margin: 0px;
    }

    header > .menu
    {
        flex-wrap: wrap;
    }

    header > .menu > .log2
    {
        width: 50%;
        margin-left: 5vw;
        order: 1;
    }

    header > .menu > .log2 > a > img
    {
        width: 40%;
    }

    header > .menu > .s-inscrire
    {
        width: 25%;
        margin-right: 6vw;
        order: 2;
    }

    header > .menu > .menu-duo
    {
        width: 100%;
        justify-content: space-around;
        margin: 2vw 0vw 0vw 0vw;
        order: 3;
    }

    header > .menu > .menu-duo > a
    {
        width: 50%;
    }

    header > .menu > .menu-duo > a > div
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0px;
    }

    header > .menu > .menu-duo > a > .selected
    {
        border-bottom: 4px solid #0065FC;
        border-top: none;
    }

    header > .menu > .menu-duo > a > .no-selected
    {
        border-bottom: 4px solid #f2f2f2;
        border-top: none;
    }

    .top
    {
        margin:0vw 6vw 0vw 5vw;
    }

    .recherche
    {
        display: flex;
    }

    .recherche > form
    {
        width: 100%;
    }

    .recherche > form > div
    {
        padding: 0.8em 1em;
        background-color: #F2F2F2;
        border-radius: 20px 0px 0px 20px;
    }

    .recherche > form > input[type=text] 
    {
        border: 1px solid #F2F2F2;
        padding: 0.8em 1em;
    }

    .recherche > form > #recherche
    {
        width: 100%;
    }

    .recherche > form > .bouton-recherche-global
    {
        border-radius: 20px;
        margin-left: -20px;
        width: 9vw;        

        display: inline-block;
    }

    .recherche > form > .bouton-recherche-global > .rechercherText
    {
        display: none;
    }

    .recherche > form > .bouton-recherche-global > .fa-search
    {
        display: inline;
    }

    .button
    {
        margin-bottom: 1em;
    }

    .filtres
    {
        margin-top: 2em;
    }

    .filtres > div > .button > .filtre-text, .filtre-text
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    .filtres > div > .button > .filtre-icone, .filtre-icone
    {
        height: calc(8px + 6vw);
        width: calc(8px + 6vw);
        margin-left: -2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .filtres > div > div > .button, .filtres > div > .button
    {
        height: calc(4px + 6vw);
        margin-bottom: 1em;
    }

    .top > .info
    {
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 1em;
    }

    .top > .info > div
    {
        width: calc(5px + 2.2vw);
        height: calc(5px + 2.2vw);
        margin-top: 1vw;
    }

    body > .center
    {
        flex-direction: column;
    }

    .popular
    {
        padding: 2em 0em 1em 0em;
        margin: 0px;
        border-radius: 0px;
    }

    .popular > .popular-text
    {
        flex-direction: row;
        margin: 0em 5vw 0.5em 5vw;
        padding: 0vw 5vw 0vw 5vw;
        width: 90%;
    }

    .popular > .popular2
    {
        
        margin-bottom: 4vw;
    }

    .popular > .popular2 > a
    {
        box-shadow: 1px 1px 2vw #bfbfbf;
        width: 90%;
        margin-bottom: 4vw;
        border-radius: 5vw;
        height: 35vw;
    }

    .popular > .popular2 > a > article
    {
        border-radius: 5vw;
        grid-template-rows: 20% 80%;
    }

    .popular > .popular2 > a > article > img
    {
        border-radius: 5vw 0em 0em 5vw;
        border: 3px solid white;
        width: calc(100% - 3px);
        height: calc(100% - 6px);
    }

    .popular > .popular2 > a > article > .span-title
    {
        margin: 0.5em 5% 0em 5%;
    }

    .popular > .popular2 > a > article > div
    {
        margin: 2vw 5% 5vw 5%;
    }

    .popular > .popular2 > a > article > div > .paragaph-star
    {
        margin: 10px 0px 5px 0px;
    }

    .hebergement
    {
        width: 100%;
        padding: 1.5em 0px 0px 0px;
        background-color: white;
        margin: 0px;
    }

    .hebergement > .titre-hebergement
    {
        margin: 1em 5vw 0.5em 5vw;
    }

    .hebergement > .hebergement2
    {
       
        width: 100%;
    }

    .hebergement2 > a
    {
        width: 90%;
        margin: 0vw 5vw 4vw 5vw;
        box-shadow: 1px 1px 2vw #bfbfbf;
        border-radius: 5vw;
    }

    .hebergement2 > a > article
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5vw;
    }

    .hebergement2 > a > article > img
    {
        height: 30vw;
        object-fit: cover;
        border-radius: 5vw 5vw 0em 0em;
        border: 3px solid white;
    }

    .hebergement2 > a > article > h3
    {
        margin: 0.5em 1em 0em 1em;
        line-height: calc(5px + 2vw + 0.5em);
    }

    .hebergement2 > a > article > p
    {
        margin: 0em 1em 0.5em 1em;
        line-height: calc(5px + 2vw + 0.5em);
    }

    .alligne-afficher
    {
        margin-left: 5vw;
        display: flex;
        align-items: center;
    }

    /*A lire*/

    .activite > .activite-text
    {
        margin: 1em 5vw 0.5em 5vw;
    }

    .activite > .activite2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.5em;        
    }

    .ia1, .ia2, .ia3, .ia4, .ia5, .ia6
    {
        margin: 0vw 5vw 4vw 5vw;
        height: 50vw;
        width: 90%;
        border-radius: 5vw;
        box-shadow: 1px 1px 2vw #bfbfbf;
        display: inline-block;
    }

    .activite > .activite2 > a > article > h3, .activite > .activite2 > div > a > article > h3
    {
        height: 20%;
        border-radius: 0vw 0vw 5vw 5vw;
        padding: 0.5em 1em 0.5em 1em;
    }

    .activite > .activite2 > div
    {
        height: 100%;
        width: 100%;
    }

    footer
    {
        flex-direction: column;
        padding: 0px 5vw 0px 5vw;
    }

    footer > aside
    {
        padding-top: 2.5em;
        width: 100%;
    }

    footer > aside > P, footer > aside > h3
    {
        line-height: 2em ;
    }
}